
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  /*background: #d3d3d3;*/
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 43px;
  height: 44px;
  border: 0;
  background: url('/uploads/aya.png');
  background-size: 100% 100%; 
  background-color: transparent; 
  background-position: center; 
  background-repeat: no-repeat; 
border-radius:777777px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 43px;
  height: 45px;
  border: 0;
  background: url('/uploads/aya.png');
  background-color: transparent; 
  background-size: 100% 100%; 
  background-position: center; 
border-radius:777777px;
  background-repeat: no-repeat; 
  cursor: pointer;
}
#text{
  background: url('/uploads/wood.png');
  background-repeat: repeat; 
}
.mycontent{
  background-position: center; 
  background: url('/uploads/mer.png');
  background-repeat: repeat; 
}
.picjeu{
	max-width:250px;
}
